<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        .placeholder { visibility: collapse; display:none}
        .placeholder:only-child {visibility: visible; display: flex}
    </style>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <h1 class="bg-dark" style="color:gold">Welcome to my application </h1>

    <div class="p-2">
        @RenderBody()
    </div>

    <div class="jumbotron">
        <footer>
            <a class="btn btn-info" href="https://github.com/mdmizanurr" target="_blank">Git Link</a>
        </footer>
    </div>

</body>
</html>
